div.circle{
  width: 100px;
  height: 100px;
  border-radius:50%;
  background: red;
  position:absolute;
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {top: 200px;}
  50% {top: 0px;}
  100% {top: 200px;}
}
