header {
    background-color: red;
    border: 5px solid grey;
    border-radius: 10px;
}

header .navigation {
    background-color: aqua;
}

.content {
    border: 1px dotted black;
    padding: 20px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 0.5);
}


section > p:first-child {
    background-color: palevioletred;
}

section:hover {
    cursor: pointer;
}

#main-content {
    background-color: greenyellow;
}

.mydiv {
    border: 2px solid green;
    background-color: white;
    width: 500px;
    height: 200px;
    position: relative;
}

/* relative to element's normal position */

.circle {
    border: 2px solid pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
/*     margin: 0 auto; */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.image-container {
    width: 400px;
    border: 1px solid burlywood;
}

.image {
    width: 100%;
}
